.navbar{
    padding: 3rem 3.5rem;
    background: #fff;
}
.nav-link{
    font-size: 1.6rem;
    font-weight: 600;
    color: #3E3E3E;
}
.navbar-brand{
    font-size: 1.6rem;
    color: #2d2e32;
    font-weight: 400;
}
.logo{
    width: 20px;
    height: 20px;
}
.nav-link:hover{
    color: #1f6fe5;
}
.offcanvas-title{
    color: #3E3E3E;
}
.offcanvas-title:hover{
    color: #1f6fe5;
}
.navBtn{
    padding: 1rem 2rem;
    background-color:  #1f6fe5;
    border: none;
    border-radius: 3rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
}
.navBtn:hover{
    background-color: #0847a6;
    outline: 1px solid #3E3E3E;
}
.dropdown-menu{
    padding: 1.5rem;
}
.dropdown-item{
    font-size: 1.3rem;
    font-weight: 600;
    color: #3E3E3E;
}
.dropdown-item:hover{
    color: #1f6fe5;
}
.btn-close:hover{
    outline : 3px solid #1f6fe5;
}
.navbar-toggler:hover{
    outline : 3px solid #1f6fe5;
}
@media(max-width:700px){
    .navbar-brand{
        font-size: 2.5rem;
    }
    .logo{
        width: 30px;
        height: 30px;
    }
}